html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.table {
	display: table;
    width: 960px;
    margin: 0 auto;
    height: 100%;
}


h1, h2 {
	font-family:'Josefin Slab', serif;
	font-weight:400;
	color:white;
}

p.app-by {
	font-family:'Cabin', serif;
	font-weight:400;
	color: white;
	padding-bottom:3em;
  text-transform:uppercase;
  letter-spacing:2px;
}

p.get-started {
	font-family:'Cabin', serif;
	font-weight:400;
	color: white;
	line-height:2em;
	margin-right:2.2em;
}

.header {
	text-align: center;
	margin-top:5em;
}

.tips {
	margin-left:5em;
	display: table-cell;
    height: 405px;
    width:405px;
}

.input {
    vertical-align: middle;
    display: table-cell;
    height: 405px;
    background: black;
    opacity:0.5;
    margin-top:3em;
}

button {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #3498db;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
  margin-top:2em;
  display: inline-block;
  vertical-align: middle;
}

/* Grow */
button.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

button.hvr-grow:hover,
button.hvr-grow:focus,
button.hvr-grow:active {
    transform: scale(1.1);
}

button:hover {
  background: #fc6f3c;
  text-decoration: none;
}


